<!DOCTYPE html>
<html lang="ja">
<head>
    <title>BMI計算アプリ</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
       <!-- JavaScript読み込み-->
       <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
       <script src="static/js/script.js"></script>
</head>

<body>
    <h1>BMI計算パラメーター入力</h1>
    <form method="POST" action="/api/calc">
        <p>身長(cm):<input type="text" name="height_centimeters" id="input-height-text"  class="input-text"><button type="button" id="record-button-height" title="ボタンをクリックすると音声入力を開始します">音声入力</button></p>
        <p>体重(kg): <input type="text" name="weight" id="input-weight-text"  class="input-text"><button type="button" id="record-button-weight" title="ボタンをクリックすると音声入力を開始します">音声入力</button></p>
        <p>
            <select name="voice" title="音声モデルを選んでください">
                <option value="">--声を選択--</option>
                <option value="ja-JP-DaichiNeural">ダイチ</option>
                <option value="ja-JP-AoiNeural">アオイ</option>
                <option value="ja-JP-NaokiNeural">ナオキ</option>
                <option value="ja-JP-ShioriNeural">シオリ</option>
            </select>  
        </p>
        <div>
            <input type="range" id="volume" name="volume" min="0" max="100" title="スライドでボリュームを変更します"/>
            <label for="volume">音声ボリューム(0:オフ～100%)</label>
        </div>
        <p><input type="submit" name="submit" value="送信"></p>
        {% if error %}<p style="color: red;">{{ msg }}</p>{% endif %}
        </form>
</body>
</html>