<!DOCTYPE html>
<html lang="ja">
<head>
    <title>BMI計算アプリ</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>BMI計算結果</h1>      
    <p>身長(cm):{{ height_centimeters }}</p>
    <p>体重(kg):{{ weight }}</p>
    <p>bmi:{{ '%d' % bmi }}</p>
    <p>text:{{ text }}</p>
    <p>BMI標準体重(kg):{{st}}</p>
    <p>BMI美容体重(kg):{{bt}}</p>
    <p><input type="button" name="home" value="戻る" onclick="javascript:window.location.href='/'"/></p>
    {% if error %}<p style="color: red;">{{ msg }}</p>{% endif %}
</body>
</html>